:root {
  --clr-primary-red: hsl(0, 78%, 62%);
  --clr-primary-cyan: hsl(180, 62%, 55%);
  --clr-primary-orange: hsl(34, 97%, 64%);
  --clr-primary-blue: hsl(212, 86%, 64%);

  --clr-neutral-dark-blue: hsl(234, 12%, 34%);
  --clr-neutral-gray-blue: hsl(229, 6%, 66%);
  --clr-neutral-light-gray: hsl(0, 0%, 98%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --ff-base: "Poppins", sans-serif;

  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

main {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--clr-neutral-light-gray);
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-gray-blue);
}

.page {
  display: grid;
  padding: 2rem;
  width: 100%;
}

.page__info {
  text-align: center;
  font-weight: var(--fw-extra-light);
  font-size: 1.5rem;
}

.page__title {
  text-align: center;
  font-weight: var(--fw-semi-bold);
  font-size: 1.5rem;
  color: var(--clr-neutral-dark-blue);
  margin-bottom: 1rem;
}

.page__subtitle {
  text-align: center;
  font-size: 0.9375rem;
  margin-bottom: 3rem;
}

.page__card {
  background-color: var(--clr-neutral-white);
  border-top: 3px black solid;
  border-radius: 4px;
  margin-bottom: 2rem;
  box-shadow: -1px 20px 50px -28px var(--clr-neutral-gray-blue);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.page__card--supervisor {
  border-top: 3px var(--clr-primary-cyan) solid;
  grid-area: supervisor;
}

.page__card--team_builder {
  border-top: 3px var(--clr-primary-red) solid;
  grid-area: team_builder;
}

.page__card--karma {
  border-top: 3px var(--clr-primary-orange) solid;
  grid-area: karma;
}

.page__card--calculator {
  border-top: 3px var(--clr-primary-blue) solid;
  grid-area: calculator;
}

.page__card_title {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-dark-blue);
  font-size: 1.3rem;
}

.page__paragraph {
  margin-top: 0.5rem;
  font-size: 0.9375rem;
}

.page__icon {
  align-self: flex-end;
  width: 56px;
  margin-top: 2rem;
}

@media (min-width: 900px) {
  .page__subtitle {
    max-width: 450px;
    justify-self: center;
  }

  .page__card {
    max-width: 600px;
    max-height: 300px;
  }

  .page__cards_container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "supervisor team_builder calculator"
      "supervisor karma calculator";
    justify-content: center;
    align-items: center;

    padding: 0 4rem;
  }
}
